// --------------------------------------------------
// Color
// --------------------------------------------------

$color-white: #ffffff;

$color-black: #000000;

$color-gray: #efefef;
$color-dark-gray: #484f5b;
$color-med-gray: #b0b0b0;


$color-Chestnut: #e6c8c3;

